<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Update your details</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<ul>
    <li><a href="/">Register</a></li>
    <li><a href="/users">Hello {{loggedUser.name}}</a></li>
    <li><a href="/logout">Logout</a></li>
</ul>
<form action="/update" method="put">
    <input type="text" name="name" placeholder="name" value="{{loggedUser.name}}"><br/>
    <input type="email" name="email" placeholder="email" value="{{loggedUser.email}}"><br/>
    <input type="text" name="password" placeholder="password" value="{{loggedUser.password}}"><br/>
    <input type="submit" name="OK">
</form>
</body>
</html>