<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Userlist</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<ul>
    <li><a href="/">Register</a></li>
    <li><a href="/users">Hello {{loggedUser.name}}</a></li>
    <li><a href="/logout">Logout</a></li>
</ul>

<h1>Hello {{loggedUser.name}}</h1>
<br/>
<form action="/update">
    <input type="submit" value="Edit your user" />
</form>
{{#each users}}
    <div>User: {{this.name}}</div>
    <div>Email: {{this.email}}</div>
    <br/>
{{/each}}

</body>
</html>
